.ms_card {
    position: relative;
    transition: all 0.5s;

    .favorite {
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
        z-index: 10;
        
    }

    .back-img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover .back-img {
        z-index: 1;
        opacity: 1;
    }

    &:hover {
        transform: scale(102%);
        box-shadow: 5px 5px 0px var(--orange),
                    -5px -5px 0px var(--orange);
    }


    .color-red {
        color: red;
    }

    .info-product {
        h5 {
            font-weight: 700;
        }

        .price {
            color: var(--red);
            font-weight: 700;
        }

        .original-price {
            text-decoration: line-through;
        }
    }

    .product-img {
        position: relative;
        
            .badges {
                position: absolute;
                left: 0;
                bottom: 8%;
                color: white;
                font-weight: 700;
                width: 100%;
                z-index: 10;

                .discount {
                    background-color: var(--red);

                }

                .tag {                  
                    background-color: var(--green)
                }
            }
    }
}